* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

button {
    all: unset;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 220px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.titleMenu {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    user-select: none;
}

.menu img {
    width: 220px;
    height: 258px;
    object-fit: cover;
}

.menuButtons {
    display: flex;
    flex-direction: column;
}

.menu button {
    height: 33px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #E7E7E7;
    padding-left: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu button img {
    width: 5px;
    height: 33px;
    position: relative;
    left: -24px;
    display: none;
}

.menu button:hover {
    background-color: #FDF1EB;
    transition: 0.3s;
}

.menu button:focus {
    background-color: #FDF1EB;
    transition: 0.3s;
}

.menu button:focus img {
    display: block;
    
}

.principalContent {
    width: 100%;
}

.principalPanel {
    margin-left: 220px;
    height: 68px;
    background-color: #FDF1EB;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.panelTitles {
    display: flex;
    flex-direction: column;
}

.panelTitles span {
    font-size: 14px;
    color: #725C5C;
    line-height: 16px;
    font-weight: 400;
}

.panelTitles span:nth-child(2) {
    font-size: 22px;
    color: #725C5C;
    margin-bottom: 2px;

}

.buttonAndProfile {
    display: flex;
    gap: 22px;
}

.languageChange {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 18px;

}

.languageChange img {
    width: 22px;
    height: 21px;
    object-fit: cover;
}

.languageChange button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 97px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    gap: 3px;
}

.languageChange button:hover {
    border: 2px solid #CCCCCC  ;
}

.profile {
    display: flex;
    gap: 6px;
}

.welcomeAndEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1px;
}

.welcomeAndEmail span:nth-child(1) {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.welcomeAndEmail span:nth-child(2) {
    font-family: 'Quicksand', sans-serif;
    color: #333333;
    font-size: 12px;
    line-height: 15px;
}

.profilePicture {
    width: 48px;
    height: 30px;
}

.profilePicture img { 
    width: 30.3px;
    height: 30.63px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profilePicture img:hover {
    transition: 0.5s;
    filter: grayscale(100%);
}

.notifications {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F85959;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    bottom: 38px;
    left: 19px;
}

.videoContent {
    margin-left: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

.videoFirstTable {
    width: 786px;
    gap: 19px;
    user-select: none;
}

.videoFirstTable span{
    color: #ED7839;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.videoArea {
    width: 783px;
    height: 439px;
    background-image:
        linear-gradient(rgba(141, 53, 6, 0.5), rgba(141, 53, 6, 0.5)), 
        url('../img/dewey\ 1.png');
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.videoTitle {
    font-size: 24px;
    width: 734px;
    margin-left: 31px;
}

.videoTitle span {
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    font-weight: 900;
}

.authorInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    margin-left: 31px;
}

.authorImage {
    width: 84px;
    height: 86px;
    border: 1px solid #ED7839;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgRadius {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authorImage img {
    width: 74.85px;
    height: 77.49px;
    object-fit: cover;
}

.aboutAuthor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.aboutAuthor span:nth-child(1) {
    font-size: 36px;
    color: #FFFFFF;
    line-height: 25px;
    letter-spacing: 0.05em;
    font-weight: 900;
}

.aboutAuthor span:nth-child(2) {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.doiButtons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    user-select: none;
}

.doiButtons button {
    background-color: #ED7839;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    width: fit-content;
    height: 31px;
}

.doiButtons button:hover {
    background-color: #f08e59;
}

.reference span {
    font-size: 14px;
    line-height: 25px;
    color: #ED7839;
    user-select: none;
    font-weight: bold;
}

.details {
    user-select: none;
    width: 242px;
    height: 45px;
}

.detailsTitle {
    background-color: #ECECEC;
    display: flex;
    align-items: center;
}

.detailsTitle span{
    color: #4E4E4E;
    font-size: 20px;
    line-height: 25px;
    padding: 11px 15px 9px 15px;
}

.detailsInfo {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #5C5C5C;
    padding: 15px;
    border: 1px solid #ECECEC;
    height: 364px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 30px;
}

.detailsInfo1, .detailsInfo2, .detailsInfo3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detailsInfo2 {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #E7E7E7;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: #BFBFBF;
    border-radius: 30px;
}

.videoInfoContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 242px;
    gap: 6px;
}